<div id="projects" class="background-alt ">
    <h2 class="heading ">Mis Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large ">
                
                <div class="project-info ">
                    <h3>Portfolio</h3>
                    <p class="fs-4">
                        Proyecto de Portfolio creado para el curso Argentina Programa finalizado en octubre 2022.
                    </p>
                    <a href="https://github.com/JuanAgustin99/Front-end-ArgProg">Link al repositorio Front end.</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/JuanAgustin99/Back-end-ArgProg">Link al repositorio Back end.</a>
                </div>
                
            </div>
        
        </div>
    </div>
</div>